---
- hosts: tag_ServiceComponent_Logs
  gather_facts: false

  tasks:
  - name: Set up logs volume mount
    shell: |
      set -e
      mkdir -p /var/cache/cockpit-tasks/images
      if [ -e /dev/disk/by-label/cockpitlogs ]; then
          echo 'LABEL=cockpitlogs /var/cache/cockpit-tasks/images   xfs     defaults,noatime        1 2' >> /etc/fstab
          systemctl daemon-reload
          mount -a
      fi
    args:
      creates: /var/cache/cockpit-tasks/images

  - name: "Upload images service installation script"
    copy:
      src: "{{ playbook_dir }}/../../images/install-service"
      dest: /run/install-service
      mode: preserve

  - name: "Set up systemd service for cockpit/images"
    # use standard https port instead of 8493
    shell: |
      sed 's/8493/443/' /run/install-service | sh -
    args:
      warn: false

  # intentionally *not* 1111, so that it does not have access to most secrets
  # hardcoded as 1001 as that's the uid on our persistent volume
  - name: "Create sink user"
    user:
      name: sink
      uid: 1001
      comment: Cockpit sink ssh user

  - name: "Create ~sink/.config dir"
    file:
      state: directory
      path: ~sink/.config
      owner: sink
      group: sink

  - name: "Set up github token secret link"
    file:
      state: link
      src: /var/lib/cockpit-secrets/webhook/.config/github-token
      dest: ~sink/.config/github-token
      owner: sink
      group: sink

  - name: "Create ~sink/.ssh dir"
    file:
      state: directory
      path: ~sink/.ssh
      owner: sink
      group: sink
      mode: 0700

  # ssh refuses this to be a link to a file owned by someone else, so copy
  - name: "Set up sink authorized_keys"
    copy:
      src: /var/lib/cockpit-secrets/tasks/id_rsa.pub
      dest: ~sink/.ssh/authorized_keys
      remote_src: true
      owner: sink
      group: sink

  - name: "Install sink code"
    copy:
      src: "{{ playbook_dir }}/../../sink/sink"
      dest: ~sink/sink
      owner: sink
      group: sink
      mode: 0555

  - name: "Logs directory permissions"
    file:
      state: directory
      path: /var/cache/cockpit-tasks/images/logs
      owner: sink
      group: sink
      mode: 0755

  - name: "Sink configuration"
    copy:
      dest: ~sink/.config/sink
      mode: 0644
      # don't use ansible_host here, we want to use our proper DNS name
      content: |
        [Sink]
        Url: https://logs.cockpit-project.org/logs/%(identifier)s/
        Logs: /var/cache/cockpit-tasks/images/logs
        PruneInterval: 0.5
