---
- hosts: e2e tag_ServiceComponent_Tasks
  gather_facts: false

  tasks:
  - name: "Upload tasks service installation script"
    copy:
      src: "{{ playbook_dir }}/../../tasks/install-service"
      dest: /run/install-service
      mode: preserve

  - name: Set up systemd service for cockpit/tasks
    shell: |
      export INSTANCES=4
      export NPM_REGISTRY=https://repository.engineering.redhat.com/nexus/repository/registry.npmjs.org/
      export TEST_NOTIFICATION_MX={{ notification_mx | default('') }}
      export TEST_NOTIFICATION_TO={{ notification_to | default('') }}
      /run/install-service
