---
apiVersion: v1
kind: ReplicationController
metadata:
  name: centosci-tasks
spec:
  replicas: 5
  selector:
    infra: cockpit-tasks
  template:
    metadata:
      labels:
        infra: cockpit-tasks
    spec:
      containers:
      - name: cockpit-tasks
        image: quay.io/cockpit/tasks
        env:
        - name: TEST_JOBS
          value: '5'
        - name: TEST_PUBLISH
          value: sink-local-4
        - name: RUN_STATISTICS_QUEUE
          value: '1'
        volumeMounts:
        - name: secrets
          mountPath: "/secrets"
          readOnly: true
        - name: webhook-secrets
          mountPath: /run/secrets/webhook
          readOnly: true
        - name: cache
          mountPath: "/cache"
        - name: images
          mountPath: "/cache/images"
        - name: shm
          mountPath: "/dev/shm"
        - name: tmp
          mountPath: "/tmp"
        resources:
          limits:
            memory: 24Gi
            cpu: 10
            devices.kubevirt.io/kvm: 1
          requests:
            memory: 16Gi
            cpu: 5
            devices.kubevirt.io/kvm: 1
      volumes:
      - name: secrets
        secret:
          secretName: cockpit-tasks-secrets
      - name: webhook-secrets
        secret:
          secretName: webhook-secrets
      - name: cache
        emptyDir: {}
      - name: images
        persistentVolumeClaim:
          claimName: cockpit-images
      - name: shm
        emptyDir:
          medium: Memory
      - name: tmp
        emptyDir:
          medium: Memory
          sizeLimit: 14G
