Host ci-srv-0?
	User root
	Hostname %h.e2e.bos.redhat.com

Host cockpit-? cockpit-1?
	User root
	Hostname %h.apps.cnfdb2.e2e.bos.redhat.com

Host cmc-e2e
	User cockpit
	Hostname 10.19.0.46
Host idrac-*
	User cockpit
Host idrac-ci-srv-01
	Hostname 10.19.0.22
Host idrac-ci-srv-02
	Hostname 10.19.0.23
Host idrac-ci-srv-03
	Hostname 10.19.0.24
Host idrac-ci-srv-04
	Hostname 10.19.0.25
Host idrac-ci-srv-05
	Hostname 10.19.0.26
Host idrac-ci-srv-06
	Hostname 10.19.0.27
Host idrac-cockpit-7
	Hostname 10.19.0.28
Host idrac-cockpit-8
	Hostname 10.19.0.29
Host idrac-cockpit-9
	Hostname 10.19.0.30
Host idrac-cockpit-10
	Hostname 10.19.0.31
Host idrac-cockpit-11
	Hostname 10.19.0.32
