[Unit]
Description=Cockpit Major Release Runner
Requires=docker.service
After=docker.service

[Service]
Environment="RELEASE_SINK=fedorapeople.org"
Restart=always
RestartSec=1800
ExecStart=/bin/sh -xc "/usr/bin/docker run --name=cockpit-release --privileged --volume=/home/cockpit:/home/user:rw --volume=/home/cockpit/release:/build:rw --env=RELEASE_SINK=\"$RELEASE_SINK\" cockpit/infra-release -r https://github.com/cockpit-project/cockpit /build/bots/major-cockpit-release
ExecStop=-/bin/sh -xc "/usr/bin/docker rm -f cockpit-release"

[Install]
WantedBy=multi-user.target
