[Unit]
Description=Cockpit Release Runner
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=1800
ExecStart=/bin/sh -xc "/usr/bin/docker run --name=cockpit-release --volume=/home/cockpit:/home/user:rw --volume=/home/cockpit/release:/build:rw --net=host --pid=host --privileged cockpit/infra-release"
ExecStop=-/bin/sh -xc "/usr/bin/docker rm -f cockpit-release"

[Install]
WantedBy=multi-user.target
