[Unit]
Description=Cockpit Major Release Runner
Requires=docker.service
After=docker.service

[Service]
Environment="RELEASE_SINK=fedorapeople.org"
ExecStartPre=-/usr/bin/docker rm -f cockpit-release
ExecStart=/bin/sh -xc "/usr/bin/docker run --name=cockpit-release --privileged --volume=/home/cockpit:/home/user:rw --volume=/home/cockpit/release:/build:rw --env=RELEASE_SINK=\"$RELEASE_SINK\" cockpit/release -r https://github.com/cockpit-project/cockpit /build/bots/major-cockpit-release"
ExecStop=/usr/bin/docker rm -f cockpit-release
StartLimitInterval=1day
StartLimitBurst=3
