[Unit]
Description=Release Runner
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=1800
ExecStart=/bin/sh -c "/usr/bin/docker start -a runner || /usr/bin/docker run --name=runner --volume=/home/cockpit:/home/user:rw cockpit/infra-release"
ExecStop=/usr/bin/docker stop runner

[Install]
WantedBy=multi-user.target
