[Unit]
Description=Cockpit Verify
Requires=docker.service libvirtd.service
After=docker.service libvirtd.service

[Service]
Environment="TEST_OS=fedora-testing fedora-atomic"
Environment="TEST_JOBS=4"
Restart=always
RestartSec=60
ExecStart=/bin/sh -xc "/usr/bin/docker run --name=cockpit-verify --volume=/home/cockpit:/home/user:rw --volume=/home/cockpit/verify:/build:rw --net=host --pid=host --privileged --env=TEST_OS=\"$TEST_OS\" --env=TEST_JOBS=\"$TEST_JOBS\" cockpit/infra-verify"
ExecStop=-/bin/sh -xc "/usr/bin/docker rm -f cockpit-verify"

[Install]
WantedBy=multi-user.target
