[Unit]
Description=Cockpit Verify
Requires=docker.service libvirtd.service
After=docker.service libvirtd.service

[Service]
Environment=TEST_OS=fedora-23
Restart=always
RestartSec=60
ExecStart=/bin/sh -xc "/usr/bin/docker run --name=verify-$TEST_OS --volume=/home/cockpit:/home/user:rw --volume=/home/cockpit/verify-$TEST_OS:/build:rw --net=host --pid=host --privileged --env=TEST_OS=$TEST_OS cockpit/infra-verify"
ExecStop=-/bin/sh -xc "/usr/bin/docker rm -f verify-$TEST_OS"

[Install]
WantedBy=multi-user.target
