name: tests
on: [pull_request, workflow_dispatch]
jobs:
  unit-tests:
    runs-on: ubuntu-20.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y make python3-pyflakes python3-pep8

      - name: Run unit tests
        run: make check

  tasks:
    runs-on: ubuntu-20.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
        with:
          # need this to get origin/master for git diff
          fetch-depth: 0

      - name: Rebase to current master
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git rebase origin/master

      - name: Build and test tasks container if it changed
        run: |
          changes=$(git diff --name-only origin/master..HEAD -- tasks/)
          if [ -n "${changes}" ]; then
              # Run podman as root, as podman is missing slirp4netns by default, and does not have overlayfs by default
              sudo make tasks-container
              # This does not do much yet, just iterate to the AMQP queue 30 times and exit
              # TODO: Inject a workload that does not need /dev/kvm
              sudo tasks/run-local.sh
          fi
