name: tests
on: [pull_request]
jobs:
  unit-tests:
    runs-on: ubuntu-20.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y make python3-pyflakes python3-pep8

      - name: Run unit tests
        run: make check

  tasks:
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
        with:
          # need this to get origin/master for git diff
          fetch-depth: 0

      - name: Rebase to current master
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git rebase origin/master

      - name: Check if tasks container changed
        id: tasks_changed
        run: |
          changes=$(git diff --name-only origin/master..HEAD -- tasks/)
          # print for debugging
          echo "$changes"
          [ -z "$changes" ] || echo "::set-output name=changed::true"

      - name: Set up secrets
        if: steps.tasks_changed.outputs.changed
        run: |
          # Put the /secrets in place which we'll mount to the tasks-container
          mkdir -p ~/secrets
          echo '${{ secrets.COCKPITUOUS_TOKEN }}' > ~/.config/github-token
          echo '${{ secrets.SSH_KNOWN_HOSTS }}' > ~/secrets/known_hosts
          echo '${{ secrets.SINK_SSH_CONFIG }}' > ~/secrets/ssh-config
          echo '${{ secrets.SINK_ID_RSA }}' > ~/secrets/id_rsa
          echo '${{ secrets.SINK_ID_RSA_PUB }}' > ~/secrets/id_rsa.pub
          chmod 400 ~/secrets/*
          # change permissions to user in cockpit-tasks container
          sudo chown 1111:1111 ~/secrets/*

      - name: Build tasks container if it changed
        if: steps.tasks_changed.outputs.changed
        # Run podman as root, as podman is missing slirp4netns by default, and does not have overlayfs by default
        run: sudo make tasks-container

      - name: Test tasks container if it changed
        if: steps.tasks_changed.outputs.changed
        run: |
          PRN=$(echo "$GITHUB_REF" | cut -f3 -d '/')

          # Start the amqp/tasks pod, supply working task secrets, and run unit test on our own PR
          sudo tasks/run-local.sh -p $PRN -s ~/secrets -t ~/.config/github-token
