name: tests
on: [pull_request]
jobs:
  unit-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y make python3-pyflakes python3-pycodestyle python3-pip python3-pytest
          sudo pip install .[test]

      - name: Run lint tests
        run: make check

  tasks:
    runs-on: ubuntu-24.04
    permissions:
      # enough permissions for tests-scan to work
      pull-requests: read
      statuses: write
    timeout-minutes: 30
    steps:
      - name: Clone repository
        uses: actions/checkout@v5
        with:
          # need this to get origin/main for git diff
          fetch-depth: 0

      - name: Rebase to current main
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git rebase origin/main

      - name: Install test dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y make python3-pytest

      - name: Check which containers changed
        id: containers_changed
        run: |
          tasks=$(git diff --name-only origin/main..HEAD -- tasks/container)
          # print for debugging
          echo "tasks: $tasks"
          [ -z "$tasks" ] || echo "tasks=true" >> "$GITHUB_OUTPUT"

      - name: Build tasks container if it changed
        if: steps.containers_changed.outputs.tasks
        run: make tasks-container

      - name: Test local deployment
        run: |
          echo '${{ secrets.GITHUB_TOKEN }}' > github-token
          PRN=$(echo "$GITHUB_REF" | cut -f3 -d '/')
          python3 -m pytest -vv --pr $PRN --pr-repository '${{ github.repository }}' --github-token=github-token
